html {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --gradient: linear-gradient(
    95deg,
    #3F7CA5,
    #7FA6C9,
    #DE5867
    
  );
  --primary-color: #3F7CA5;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  padding-left: 1.75rem;
  margin-top: 3rem;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0;
}

a:link{
  text-decoration: none;
}

a{
  color: var(--primary-color);
}

h1 {
  margin-top: 3rem;
}
.container-main {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  width: 85vw;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right: 3rem;
}

/* NavBar */

.nav {
  width: 15vw;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 1 rem;
  position: fixed;
  z-index: 10000;
  top: 5rem;
  left: 0;
}

.nav ul {
  list-style: none;
  font-size: 1rem;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
  margin-top: 0.5rem;
}

.nav li {
  padding-top: 1rem;
}

.list {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
}

.container-nav {
  display: flex;
  flex-direction: column;
}

.icons {
  margin-top: 1rem;
}

.icons a {
  color: var(--primary-color);
  margin-right: 0.5rem;
}



/* About Me */
.container-aboutme {
  display: flex;

  margin: 0 3rem;
  width: 80%;
}

.container-aboutme-section-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#h2-center {
  align-self: center;
  font-size: 2rem;
}

.container-aboutme-section-2 {
  margin: 0 3rem;
  width: 80%;
}

#mutant2690 {
  width: 40%;
}

#NYC {
  width: 75vw;
  margin: auto;
  margin-right: 3rem;
}

.boom {
 
  background-image: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  animation: bg-animation 2s infinite alternate;

}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}



/* Contact */

.container-contact {
  margin-left: 3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.container-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.container-contact-row1 {
  display: flex;
  gap: 10px;
}

.container-email {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.container-contact input {
  margin-top: 0.5rem;
  width: 40vw;
  height: 1.5rem;
}

.container-message {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

textarea {
  width: 82.5vw;
  height: 40vmin;
  resize: none;
  margin-top: .5rem;
}

#button {
  cursor: pointer;
  margin-top: 1rem;
  width: 25%;
  border: 1;
  padding: 0.5em, 1.5em;
  height: 2rem;
  color: #42424A;
  
  
  
}


/* gallery */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-right: 1rem;
  width: 85vw;
  margin-left: 3rem;
}

.gallery-container img {
  max-width: 30rem;
  padding: 1%;
}

img:hover {
  opacity: 95%;
}

/* H1 Title */

.title {
  padding-left: 20px;
}

/*hamburger */

/* button */



#image1 {
  width: 40%;
}

@media (max-width: 1024px) {
  .gallery-container img {
    max-width: 20rem;
    padding: 1%;
  }

  .container-contact {
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .container-contact-row1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .container-contact input {
    margin-top: 0.5rem;
    width: 98%;

  }

  textarea {
    width: 65vw;
    height: 40vmin;
    resize: none;
  }
}

@media (max-width: 600px) {
  #logo {
    margin-top: 1rem;
    position: static;
    z-index: 10000;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .nav {
    display: static;
    align-items: flex-start;
    position: static;
    z-index: 10000;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 7rem;

    margin-top: -3rem;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 2rem;
    gap: 5px;
  }

 

  .container-main {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .gallery-container img {
    max-width: 20rem;
    padding: 1%;
    margin-right: 60%;
    margin-left: 50%;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .super-container-aboutme {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .super-container-aboutme img {
    margin-left: 4rem;
    width: 60%;
  }

  .container-aboutme {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .container-aboutme-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  #h2-center {
    align-self: center;
  }

  .container-aboutme-section-2 {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 

  #NYC {
    width: 75vw;
    margin: auto;
    margin: 0;
  }

  .container-about-section-3 {
    display: flex;

    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }

  /* Contact */

  .container-contact {
    margin-left: 5rem;
    margin-right: 0rem;
    margin-top: 0rem;
  }

  .container-name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .container-email {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .container-contact-row1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .container-contact input {
    margin-top: 0.5rem;
    width: 82.5vw;
  }

  .container-message {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  textarea {
    width: 82.5vw;
    height: 40vmin;
    resize: none;
    margin-top: 0.5rem;
  }
}
