html {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  padding-left: 1.75rem;
  margin-top: 3rem;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0;
}

a:link{
  text-decoration: none;
}

a{
  color: #42424A;
}

h1 {
  margin-top: 3rem;
}
.container-main {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  width: 85vw;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right: 3rem;
}

/* Loading */

.loading-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
  animation: scaling 2.5s ease-in-out infinite;
}

@keyframes scaling {
  0% {
    transform: scale(0.2);
    background-color: #3f7ca5;
  }

  40% {
    transform: scale(1);
    background-color: #7fa6c9;
  }

  50% {
    transform: scale(1);
    background-color: #7fa6c9;
  }
  100% {
    transform: scale(0.2);
    background-color: #de5867;
  }
}

.loading-circle:nth-child(0) {
  animation-delay: 0s;
}

.loading-circle:nth-child(1) {
  animation-delay: 0.2s;
}

.loading-circle:nth-child(2) {
  animation-delay: 0.4s;
}

.loading-circle:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-circle:nth-child(4) {
  animation-delay: 0.8s;
}

.loading-circle:nth-child(5) {
  animation-delay: 1s;
}

.loading-text {
  color: blue;
  animation: slide-down 2s ease;
}

@keyframes slide-down {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    transform: translate(0, 50%);
  }
}

/* NavBar */

.nav {
  width: 15vw;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 1 rem;
  position: fixed;
  z-index: 10000;
  top: 5rem;
  left: 0;
}

.nav ul {
  list-style: none;
  font-size: 1rem;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
  margin-top: 0.5rem;
}

.nav li {
  padding-top: 1rem;
}

.list {
  text-decoration: none;
  list-style: none;
  color: #3f7ca5;
}

.container-nav {
  display: flex;
  flex-direction: column;
}

.icons {
  margin-top: 1rem;
}

.icons a {
  color: #3f7ca5;
  margin-right: 0.5rem;
}



/* About Me */
.container-aboutme {
  display: flex;

  margin: 0 3rem;
  width: 80%;
}

.container-aboutme-section-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#h2-center {
  align-self: center;
}

.container-aboutme-section-2 {
  margin: 0 3rem;
  width: 80%;
}

#mutant2690 {
  width: 40%;
}

#NYC {
  width: 75vw;
  margin: auto;
  margin-right: 3rem;
}

#jordan1 {
  width: 40vw;
}

/* Contact */

.container-contact-line1 {
  display: flex;
  padding-left: 5%;
  width: 80%;
  margin-left: 3rem;
  flex-wrap: wrap;
}

.container-name {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  width: 34vw;
  font-weight: bold;
}

.container-email {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 35vw;
}

.container-message {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 1rem;
  margin-left: 3rem;
  font-weight: bold;
}

.container-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;

  margin-left: 4em;
}

textarea {
  width: 70vw;
  height: 40vmin;
  resize: none;

  margin-top: 1rem;
}

input {
  margin-top: 1rem;
  width: 30vm;
  height: 30px;
}

button {
  margin-top: 1rem;
}

/* gallery */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-right: 1rem;
  width: 85vw;
  margin-left: 3rem;
}

.gallery-container img {
  max-width: 30rem;
  padding: 1%;
}

img:hover {
  opacity: 95%;
}

/* H1 Title */

.title {
  padding-left: 20px;
}

/*hamburger */

/* button */

button {
  height: 2.5rem;
  text-align: center;
  width: 130px;

  background: #fff;
  border: 0.5px solid;
  color: $green;
  letter-spacing: 1px;
  text-shadow: 0;

  margin-left: 7rem;
}

#image1 {
  width: 40%;
}

@media (max-width: 1024px) {
  .gallery-container img {
    max-width: 20rem;
    padding: 1%;
  }
}

@media (max-width: 600px) {
  #logo {
    margin-top: 1rem;
    position: static;
    z-index: 10000;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .nav {
    display: static;
    align-items: flex-start;
    position: static;
    z-index: 10000;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 7rem;

    margin-top: -3rem;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 2rem;
    gap: 5px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    color: blue;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .container-main {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .gallery-container img {
    max-width: 20rem;
    padding: 1%;
    margin-right: 60%;
    margin-left: 50%;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .super-container-aboutme {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .container-aboutme {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .container-aboutme-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  #h2-center {
    align-self: center;
  }

  .container-aboutme-section-2 {
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #mutant2690 {
    width: 60%;
    margin-left: 14%;
  }

  #NYC {
    width: 75vw;
    margin: auto;
    margin: 0;
  }

  .container-about-section-3 {
    display: flex;

    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }

  #jordan1 {
    width: 40vw;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;

    margin: 0;
  }

  .container-contact-line1 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 100%;
    margin-left: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  input {
    margin-top: 1rem;
    width: 170%;
    height: 30px;
  }

  .container-email {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 34vw;
  }
  textarea {
    width: 60vw;
    height: 40vmin;
    resize: none;

    margin-top: 1rem;
  }
}
